.schedule-event {
    padding: 2rem 0;
    padding-bottom: 0;
    z-index: 2;
    flex-direction: column;
}

.schedule-event .spacing {
    margin:0 4rem;
}

.schedule-event .basic-spacing {
    margin: 2rem 1.5rem;
}

.schedule-event .time-schedule {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: center;
}

.schedule-event .icon {
    margin-right: 24px;
    color: #575757;
}

.schedule-event .busy-schedule {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .schedule-event .controls {
    float: right;
    margin: 0 2rem;
} */