.schedule-event {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
}

.schedule-event .spacing {
    margin:0 4rem;
}

.schedule-event .basic-spacing {
    margin: 2rem 1.5rem;
}

.schedule-event .time-schedule {
    display: flex;
    flex-direction: row;
}

.schedule-event .icon {
    margin-right: 24px;
}

