.modal-bg {
    position: fixed;
    background-color: #000000a8;
    width: 100%;
    height: 100%;
}

.modal {
    position: fixed;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f9f9f9;
    border-radius: 5px;
    box-shadow: 1px 1px 35px #00000082;
}

.modal-content {
    overflow-y: auto;
    max-height: 300px;
}

.modal h1.title {
    font-weight: normal;
    margin:0;
    padding: 1rem;
    background: #ebebeb;
}

.modal .closeBtn {
    position: absolute;
    right: 15px;
    top: 15px;
}

.modal .closeBtn button {
    cursor: pointer;
    user-select: none;
    background: transparent;
    outline: none;
    border: none;
    color: #888;
    transition: color .2s;
}

.modal .closeBtn button:hover {
    color: #111;
}