@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

* {
    font-family: Roboto, sans-serif;
}

body {
    padding:0;
    margin:0;
    background-color: #f6f6f6;
}